<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <form method="post" action="/login">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="text"   placeholder="User Name" name="username">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="text"   placeholder="password" name="password">
            <input class="px-3 py-2 rounded-md bg-yellow-700 border-2 outline-none" type="submit" value="Login ">
        </form>
    </div>
</body>
</html>