body {
    margin: 40px;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: 100px 100px 100px;
      background-color: #fff;
      
      color: #444;
    }
  
    .box {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      box-shadow: 0 0 10px 5px blue;
    }
  
    .a {
      grid-column: 1 / span 2;
    }
    .b {
      grid-column: 3 ;
      grid-row: 1 / span 2;
    }
    .c {
      grid-column: 1 ;
      grid-row: 2 ;
    }
    .d {
      grid-column: 2 ;
      grid-row: 2 ;
    }
  .box{
    /* Keyword values */
transform: none;

/* Function values */
transform: matrix(1, 2, 3, 4, 5, 6);
transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
transform: perspective(17px);
transform: rotate(0.5turn);
transform: rotate3d(1, 2, 3, 10deg);
transform: rotateX(10deg);
transform: rotateY(10deg);
transform: rotateZ(10deg);
transform: translate(12px, 50%);
transform: translate3d(12px, 50%, 3em);
transform: translateX(2em);
transform: translateY(3in);
transform: translateZ(2px);
transform: scale(2, 0.5);
transform: scale3d(2.5, 1.2, 0.3);
transform: scaleX(2);
transform: scaleY(0.5);
transform: scaleZ(0.3);
transform: skew(30deg, 20deg);
transform: skewX(30deg);
transform: skewY(1.07rad);

/* Multiple function values */
transform: translateX(10px) rotate(10deg) translateY(5px);
transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg);

/* Global values */
transform: inherit;
transform: initial;
transform: revert;
transform: revert-layer;
transform: unset;

  }


  /* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}/*Also changing the elements position with completing percentage*/
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  /*animation-name	Specifies the name of the @keyframes animation*/
  animation-duration: 4s;
  animation-delay: 4s;
  animation-delay: -2s;
  Negative values are also allowed. If using negative values, the animation will start as if it had already been playing for N seconds.
  animation-iteration-count: 3;
  /*How many times an animation runs. can also be infinite*/
  animation-direction: reverse;
  animation-direction: alternate;
  /*to make the animation run forwards first, then backwards.*/
  /*Specifying the speed curve*/
  animation-timing-function: ease-in;  
}