<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--Open graph meta properties for web representation while sharing on social medias-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Kush Kansal's Portfolio" />
  <meta property='og:image' content="/1Thumbnail.jpg" />
  <meta property='og:description' content='A portfolio Site' />
  <meta property='og:url' content='https://kushkansal.github.io/Portfolio/' />
  <meta property='og:image:width' content='1200' />
  <meta property='og:image:height' content='627' />
  <meta property="og:type" content='website' />
  <meta name="description" content="Welcome to Kush Kansal's portfolio website. Explore my skills, projects, and contact information.">
  <title> ={KshKnsl}=>  </title>



  <link rel="icon" type="image/x-icon" href="/Favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
  <div id="loading">
    <h2 id="loadingheading">Booting...</h2>
    <div id="loading-bar">
      <div id="loading-bar-progress"></div>
    </div>
    <div id="loading-items">Starting...</div>
  </div>


  <div class="Menu" id="First">
    <div class="profileArea">
      <div class="ProfileIMG">
        <img id="ProfileImage" src="/Profile.jpg" alt="Kush Kansal's Profile Photo">
      </div>
      <div class="Profiletxt">
        <div class="red">=[</div>
        Ҝㄩ丂卄Ҝ卂几丂卂ㄥ
        <div class="red">]=></div>
      </div>
    </div>
    <div class="LinksArea" id="NAVLINKS">
      <a href="#Home">Home</a>
      <a href="#About">About</a>
      <a href="/Skills">Skills</a>
      <a href="#Projects">Projects</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="batteryArea" id="batteryArea">
      <img src="/CursorSvgs/flash.svg" alt="" height="20px" style="display: none;">
      <img src="/charged.png" alt="">
      <p style="font-weight: 500; font-family: Impact, sans-serif; font-size: 20px;">0%</p>
    </div>
  </div>


  <div class="ExtraCursor">JAVA DEVELOPER ♨️ </div>
  <div class="page1" id="Home">
    <video src="/Videos/river.mp4" autoplay muted loop
      style="width: 100%; height: 100%; object-fit: cover; z-index: -1;"></video>

    <div class="heroArea">
      <div class="namearea">Hello👋, I'm</div>
      <div class="name">Kush Kansal</div>

      <div class="iconArea" id="boxArea">
        <a href="https://www.linkedin.com/in/kushkansal/" class="box linkedin"><img src="/SVGs/linkedin.svg">
          <div class="iconText">LinkedIn</div>
        </a>
        <a href="https://github.com/KushKansal" class="box github"><img src="/SVGs/github.svg">
          <div class="iconText">GitHub</div>
        </a>
        <a href="https://www.instagram.com/kushkansal0/" class="box insta"><img src="/SVGs/instagram.svg">
          <div class="iconText">Instagram</div>
        </a>
        <a href="https://twitter.com/kansalkkush" class="box twitter"><img src="/SVGs/twitter-x.svg">
          <div class="iconText">Twitter</div>
        </a>
        <a href="mailto:kushkansal0@gmail.com" class="box gmail"><img src="/SVGs/gmail.svg">
          <div class="iconText">G-Mail</div>
        </a>
      </div>
      <h3 style="color: beige; padding: 20px 0px; letter-spacing: 4px; text-align: center;">
        CSE @JIIT' 27 || Java ♨️ || JavaScript || Web Developer || 500+ LeetCode || Explorer 🚀</h3>
    </div>
    
  </div>

  <div id="overlayer"></div>

  <div class="page2" id="#About">
    <div class="SkillArea" id="Second">
      <div class="Section1" style="display: flex; flex-direction: column;">
        <h3 style="font-size: 4em; color: #E53935; margin: 0;" class="tracking-tighter">
          <span style="font-size: 2em;">M</span>e and
        </h3>
        <h3 style="font-size: 4em; color: #E53935; margin: 0;  font-style: 'Be Vietnam Pro';" class="tracking-tighter">
          My Tech Stacks
        </h3>
        <div class="AboutText">
          Hi everyone. My name is Kush Kansal and I am a second-year college student pursuing my
          B.tech from JIIT. I have a keen interest in technological stuff. I get excited just by thinking about the
          endless possibilities of cutting-edge technologies. Driven by a strong sense of curiosity. Currently, my
          skills
          are in HTML, CSS, Object Oriented programming, C, C++, and Java. I am currently learning full-stack web
          development and DSA.
          My unwavering determination propels me towards achieving excellence, and I aspire to contribute significantly
          to
          society by enhancing people's lives.
        </div>
      </div>
      <div class="TechStacks">
        <img src="/TechStacks-Logo/1.png">
        <img src="/TechStacks-Logo/2.png">
        <img src="/TechStacks-Logo/3.webp">
        <img src="/TechStacks-Logo/4.jpg">
        <img src="/TechStacks-Logo/5.svg">
        <img src="/TechStacks-Logo/6.svg">
        <img src="/TechStacks-Logo/7.svg">
        <img src="/TechStacks-Logo/8.png">
        <img src="/TechStacks-Logo/9.svg">
        <img src="/TechStacks-Logo/10.svg">
        <img src="/TechStacks-Logo/11.svg">
        <img src="/TechStacks-Logo/12.svg">
        <img src="/TechStacks-Logo/13.svg">
        <img src="/TechStacks-Logo/14.svg">
        <img src="/TechStacks-Logo/15.svg">
        <img src="/TechStacks-Logo/16.svg">
        <img src="/TechStacks-Logo/17.svg">
        <img src="/TechStacks-Logo/18.svg">
        <img src="/TechStacks-Logo/19.svg">
        <img src="/TechStacks-Logo/20.svg">
        <img src="/TechStacks-Logo/21.png">
        <img src="/TechStacks-Logo/22.svg">
        <img src="/TechStacks-Logo/23.png">
        <img src="/TechStacks-Logo/24.png">
        <img src="/TechStacks-Logo/25.svg">
      </div>
    </div>
  </div>

  <div class="page3" id="Third">
    <div class="EducationArea">
      <div id="EducationTitle">
        <div style="width: fit-content;">Education <div class="line"></div>
        </div>
      </div>
      <div id="JIIT">
        <img class="logoedu" src="/Logo-jiit.png" alt="College image">
        <h3><b>Jaypee Institute of Information Technology</b><br /></h3>
        <div>Bachelor of Technology (B.Tech)</div>
        <div class="subtitle">Jul 2023 - Jun 2027</div>
      </div>

      <div id="STJOSEPH">
        <img class="logoedu" src="/stjosephjahangirabad.png" alt="School logo">
        <h3><b>S.T. Joseph Sr. Sec. School</b><br /></h3>
        <div class="text-center">Schooling ICSE 10 and ISC 12 <div class="whitespace-nowrap">(with PCMC)</div></div>
        <div class="subtitle">Apr 2008 - May 2023</div>
      </div>
    </div>

    <div class="ProjectsArea" style="color: white;">

      <div class="card">
        <div class="imge">
          <div class="Usericon"></div>
          <p class="UserName"></p>
          <p class="Id"></p>
        </div>
        <div class="ProjImg">
          <img src="/TaskMaster.jpeg" alt="" style="width: 100%; height: auto; object-fit: contain;">
        </div>

      </div>

      <div class="card">
        <div class="imge">
          <div class="Usericon"></div>
          <p class="UserName"></p>
          <p class="Id"></p>
        </div>

        <div class="ProjImg">
          <img src="/TextEditor.jpeg" alt="" style="width: 100%; height: auto; object-fit: contain;">
        </div>

      </div>

      <div class="card">
        <div class="imge">
          <div class="Usericon"></div>
        </div>
        <div class="ProjImg">
          <img src="/TaskMaster.jpeg" alt="" style="width: 100%; height: auto; object-fit: contain;">
        </div>
      </div>

      <div class="card">
        <div class="imge">
          <div class="Usericon"></div>
          <p class="UserName"></p>
          <p class="Id"></p>
        </div>

        <div class="ProjImg">
          <img src="/TaskMaster.jpeg" alt="" style="width: 100%; height: auto; object-fit: contain;">
        </div>

      </div>

    </div>

  </div>
  </div>

  <div class="page4" id="Fourth">
    
    <div class="min-h-screen flex flex-col justify-center">
      <div class="relative sm:max-w-xl sm:mx-auto">
        <div class="contact-form">
          <div class="text-center pb-6">
            <h3 class="tracking-tighter">Contact Me</h3>
            <p class="text-gray-300">
              Fill up the form below to send me a message.
            </p>
          </div>
          <form action="/form" method="post">
            <input type="text" placeholder="Name" name="name">
            <input type="email" placeholder="Email" name="email">
            <textarea placeholder="Type your message here..." name="message"></textarea>
            <input type="submit" value="Send ➤">
          </form>
        </div>
      </div>
    </div>

    <div class="contactCircle" style="display: flex; align-items: center;">
      <div class="outerBox">
        <div class="boxArea">
          <a href="https://www.linkedin.com/in/kushkansal/" class="box linkedin"
            style="border-radius: 100% 0 0 0; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10px;"
            target="_blank"><img src="/SVGs/linkedin.svg">
            <div class="iconText">LinkedIn</div>
          </a>
          <a href="https://github.com/KushKansal" class="box github"
            style="border-radius: 0 100% 0 0; display: flex; justify-content: center; align-items: center;  flex-direction: column; gap: 10px;"
            target="_blank"><img src="/SVGs/github.svg">
            <div id="mewhite" class="iconText">GitHub</div>
          </a>
          <a href="https://www.instagram.com/kushkansal0/" class="box insta"
            style="border-radius: 0 0 0 100%; display: flex; justify-content: center; align-items: center;  flex-direction: column; gap: 10px;"
            target="_blank"><img src="/SVGs/instagram.svg">
            <div class="iconText">Instagram</div>
          </a>
          <a href="mailto:kushkansal0@gmail.com" class="box gmail"
            style=" border-radius: 0 0 100% 0; display: flex; justify-content: center; align-items: center;  flex-direction: column; gap: 10px;"
            target="_blank"><img src="/SVGs/gmail.svg">
            <div class="iconText">G-Mail</div>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="footer" style="height: 80px; background-color: grey; overflow: hidden;">
    <div class="hide">
      <div class="elfsight-app-d3c0a654-8d55-4388-ac94-8a1b0115b1cd" data-elfsight-app-lazy
        style="opacity: 0.5; left: 10px;"></div>
    </div>
    <p>Made with ❤️ by Kush Kansal</p>
    <p class="hide">© 2024 All rights reserved.</p>
  </div>
</div>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/gsap.js"></script>
</body>
</html>