@tailwind base;
@tailwind components;
@tailwind utilities;

#success 
{
    display: none;
    animation-name: up;
    animation-duration: 2s;
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(-20px);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}